persistence:
  enabled: true
  size: 5Gi

adminPassword: "StrongPass123!"

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server.monitoring.svc.cluster.local
        isDefault: true

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
